<!DOCTYPE html>
<html>

<head>
  <title>Weather</title>
  <link rel="icon" href="/img/weather.ico">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
   {{>header}}
   <p>Use this site to get your weather.</p>

  <form>
    <input placeholder="Location">
    <!--<input type="text" placeholder="Location" name="slocation" required>-->
    <button>Search</button>

  </form>
  <p id="errormsg"></p>
  <p id="locationdata"></p>
  <p id="forecastdata"></p>
  <p id="temphigh"></p>
  <p id="templow"></p>
  <p id="summarydata"></p>
  </div>
  {{>footer}}
    <!-- relative path = href="/css/styles.css" absolute path = href="./css/styles.css" -->
    <script src="/js/app.js"></script>
</body>
</html>  