<!DOCTYPE html>
<html>

<head>
  <title>404 Error</title>
  <link rel="icon" href="/img/sheriffsm.ico">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <err404><B><p>{{errorMessage}}</p></B></err404>
  </div>
  {{>footer}}
</body>

</html>